<div style="max-width: 800px; margin: 7rem auto 0 auto;"> 
    <h1>{{postagem.titulo}}</h1>
    <hr>
    <h2>{{postagem.slug}}</h2>
    <p>{{postagem.descricao}}</p>
    <p>{{postagem.conteudo}}</p>
    <hr>
    <small>Data: {{postagem.data}}</small>
</div>